*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',monospace;
    border: none;
}

a{
    text-decoration: none;
}

.section-header{
    background-image:url('../kk/images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 4.2vw;
    padding: 0.9vw 0;
    border-bottom: .2vw solid rgba(255, 255, 255, .4);

    color: white;
    background-color: inherit;

    position: fixed;
    top: 0;

    z-index: 999;
    transition: 0.5s ease-out;
}

.header-text{
    max-width: 59.375vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav{
    margin: 0 0;
}

.nav_list{
    list-style: none;
    font-size: .9vw;
}

.nav_list .nav_links{
    display: inline-block;
    padding: 0 1vw;
}

.nav_list .nav_links a{
    color: white;
}

.nav_list .nav_links a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.logo-text{
    font-weight: normal;
    font-size: 1vw;
    margin: 0 0;
    justify-self: flex-start;
    cursor: pointer;
}

.logo-text .logo{
    font-size: 1.5vw;
    font-weight: bold;
    margin-right: .4vw;
}

.nav_button{
    padding: .4vw 1.8vw;
    font-size: .8vw;
    color: white;
    cursor: pointer;
}

.first{
    background-color: transparent;
    border: .1vw solid white;
    margin: 0 .7vw 0 3vw; 
}

.nav_button:hover,
.nav_button:focus{
    transition: 0.5s ease-in;
    background-color:#00A4B9;
    border: .1vw solid #00A4B9;
}

.second{
    background-color: #00BCD4;
    border: .1vw solid transparent;
}

.header-adresy p{
    font-size: 1vw;
}

.header-adresy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 25vw;
    gap: 1.5vw;

    color: white;

}

.header-adresy h2{
    font-size: 1.9vw;
}

.login{
    color: rgba(255, 255, 255, .7);
}

.section-login{
    background-image:url('../kk/images/heading-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-2{
    width: 60vw;
    margin: 7vw auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
}

figure img{
    height: 45vh;
    width: 27vw;
}

.onas_text{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.nic{
    border: .1vh solid rgba(0,0,0,.3);
    opacity: .5;
    width: 100%;
    margin: 2vh 0;
}

.section-2 p{
    margin: 0 0;
    font-size: 0.8vw;
    opacity: .6;
}

.section-2 h2{
    margin:  0 0;
    font-size: 1.4vw;
    font-weight: bold;
}

.section-2 h3{
    margin: 0 0;
    font-size: 1vw;
}

.prvacast{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.dalej-text{
    color: black;
    margin-left: 4vh;
}

.druhacast{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.section-4{
    text-align: center;
    background-color: #F7F7F7;
}

.hodnotenie{
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    max-width: 59.375vw;
    gap: .7vw;
}


.hodnotenie p{
    font-size: 0.9vw;
}

.hodnotenie h2{
    font-size: 1.4vw;
}

.hodnotenie h1{
    font-size: 1.2vw;
    color: white;
    background: linear-gradient(160deg, rgba(114,2,176,1) 20%, rgba(50,100,245,1) 76%);
    padding: 1.3vw 1.4vw;
    border-radius: 8vh;
}

blockquote{
    font-size: 1.3vw;
    font-style: italic;
    color: #6A6A6A;
    margin: 4vh;
    opacity: .7;
}

.recenzia::before,
.recenzia::after{
    content: '"';
}

.hodnotenie h3{
    font-size: 1.3vw;
    font-weight: bold;
}

.section-5{
    background-image: url('../kk/images/footer-bg.jpg');
    background-size: cover;
}

footer{
    max-width: 59.375vw;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    gap: 3vw;
    padding-top: 4vw;
}

footer h3{
    font-size: 1vw;
    color: white;
    margin-bottom: 1.2vw;
}

.copyright{
    grid-column: 1/4;

    padding: 2vw 0;
    width: 100%;
    text-align: center;
    border-top: .1vw solid rgba(255, 255, 255, .2);
}

footer p{
    font-size: .8vw;
    margin-bottom: .9vw;
    color: rgba(255, 255, 255, .7);
}

.about p{
    color: rgba(255, 255, 255, .8);
}

.about{
    margin-left: 3.5vw;
}

.bold{
    color: white;
}

::selection{
    color: white;
    background-color: #7202BB;
}

.blue{
    color: #00BCD4;
    font-weight: bold;
}

.hidden{
    visibility: hidden;
    border: .1vh solid rgba(0,0,0,.1);
    opacity: .5;
    width: 100%;
    margin: 5vh 0 3vh 0;
}

.first:hover{
    background-color: #fff;
    color: #00A4B9;
    transition: 0.5s ease-in;
    border: .1vw solid transparent;
}