*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
}

*::after,
*::before{
	box-sizing: border-box;
}

::selection{
	background-color: #232323;
	color: #f7f7f7;
}

body{
	background-color:#f7f7f7 ;
}

h1{
	animation-duration: 1s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 19px;
	letter-spacing: 1px;
	box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.85);
	background-color: #232323;
}
.blue{
	color: #2203E4;
}

.nav_links{
	list-style: none;
}

.nav_links .nav_item{
	display: inline-block;

	margin-right: 24px;
}

.nav_links .nav_item a{
	text-decoration: none;
	color: #f7f7f7;
	font-weight: 500;
	font-size: 21px;
	line-height: 120%;
}

.logo{
	font-weight: 600;
	font-size: 27px;
	line-height: 120%;

	cursor: pointer;
	color: #f7f7f7;
}

.buyBtn{
	width: 128px;

	padding: 7px;
	margin-left: 32px;

	background-color: #232323;
	font-weight: 500;
	font-size: 21px;
	line-height: 120%;

	color: #f7f7f7;

	border-color: white;
	border-radius: 4px;
	cursor: pointer;
}

.buyBtn:hover{
	background-color: #f7f7f7;
	border-color: #2203E4;
	color: #2203E4;

	transition: background-color 0.5s ease-out;
}
.nav_item a h4:hover,
.nav_item a h4:focus{
	color: #2203e4;

	transition: 0.2s ease-in;
}

.landing{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 7rem;
}

.landing h1{
	font-weight: 700;
	font-size: 47px;
	line-height: 120%;
}

.landing p{
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	margin: 20px 0;
}

aside{
	width: 611px;
	margin-right: 7rem;
}

.buttons button{
	font-size: 16px;
	line-height: 120%;
	padding: 10px 16px;
	margin: 0 24px 0 0;
	border-radius: 4px;
	cursor: pointer;
}

.landingBtn1{
	background-color: #2203E4;
	color: #f7f7f7;
	border: 1px solid #f7f7f7;
}

.landingBtn1:hover{
	transition: background-color 0.3s ease-out;
	background-color: #f7f7f7;
	border: 1px solid #2203E4;
	color: #2203E4;
  	box-shadow: 6px 2px 35px 0px rgba(88,131,240,1);
}

.landingBtn2:hover{
	transition: background-color 0.3s ease-out;
	background-color: #f7f7f7;
	color: #232323;
	border: 1px solid #232323;
	box-shadow: 6px 2px 35px 0px rgba(150,148,150,1);
}

.landingBtn2{
	background-color: #232323;
	color: #f7f7f7;
	border: 1px solid #f7f7f7;
}

.phone img{
	max-height: 460px;
	max-width: 470px;
	filter: drop-shadow(0px 0px 15px #000);
}

.title-author{
	text-align: center;

	margin-top: 7rem;
}

.title-author h2{
	font-size: 36px;
	line-height: 120%;
}

.title-author p {
	font-size: 16px;
	line-height: 120%;
	margin-top: 1rem;
}

.mark-headers{
	display: flex;
	justify-content: space-around;
	margin-top: 4rem;
}

.mark-text{
	max-width: 50%;
	margin-left: -230px;
}

.mark-text h3{
	font-size: 27px;
	line-height: 120%;
}

.mark-text h4{
	font-size: 21px;
	line-height: 120%;
	color: #575757;
}

.mark-text p {
	color: #575757;
	font-size: 16px;
	line-height: 120%;
	margin: 12px 0;
}

.farbicky .gregory{
	font-weight: 500;
	font-size: 21px;
	line-height: 120%;
	color:#DEA405 ;
}

.farbicky p {
	font-size: 16px;
	line-height: 120%;
	color: #FFBE0B;
}

.farbicky h3{
	font-size: 27px;
	line-height: 120%;
}

.farbicky .graphic{
	font-size: 21px;
	line-height: 120%;
	color: #575757;
}

.section-1{
	background-color: #0062FF;
	width: 100%;
	height: 52rem;
	margin: 8rem 0 4rem 0;
}

.section-1 h1,
.section-1 p{
	text-align: center;
	color: white;
	margin: 1rem;
}

.section-1 h1{
	font-size: 36px;
	line-height: 120%;
	padding-top: 3rem;
}

.for-container{
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.for-item{
	width: 30%;
	display: grid;
	grid-template-columns: 125px 1fr;
	grid-template-rows: 1fr;
	gap: 15px;
	margin: 3rem 3rem;
	cursor: default;
	transition: transform 1s;
}

.for-item:hover{
	transform: scale(1.2);
	cursor: crosshair;
}

.text{
	text-align: center;
}

.for-item .text h3{
	font-size: 27px;
	line-height: 120%;
	color: white;
}

.for-item .text p{
	font-size:clamp(5px,16px,20px);
	line-height: 120%;
}

.wantBtn{
	padding: 15px;
	display: block;
	margin: 0 auto;

	background-color: #0062FF;
	border: 1px solid #f7f7f7;
	color: #f7f7f7;

}

.wantBtn:hover{
	box-shadow: 6px 2px 35px 0px rgba(250,250,250,.8);
	cursor: pointer;
	scale: 1.1;
	transition: 0.4s;
}

.section-2{
	width: 70%;
	margin: 0 auto;
}

.section-2 .demo-nadpis{
	text-align: center;
	width: 700px;
	margin: 0 auto;
}

.demo-nadpis h2{
	font-size: 36px;
	line-height: 120%;
	margin-bottom: 2rem;
}

.demo-nadpis p{
	color: #575757;
	font-size: 16px;
	line-height: 120%;
}

.demo-container{
	display: grid;
	grid-template-columns: 3.5fr 3fr;
	grid-template-rows: 1fr;

	margin: 5rem 3rem;
}

.demo-text{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
}

.demo-text h2{
	font-size: 21px;
	line-height: 120%;
}

.demo-text p{
	font-size: 16px;
	line-height: 120%;
}

.fa-brands {
	margin: 5px 8px;
	cursor: pointer;
}

.scrolling-wrapper-flexbox {
	margin-top: 3rem;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

	cursor: grab;
}

.section-3{
	background-color: #FFBE0B;
	height: 34rem;
}

.options-nadpis{
	width:35%;
	margin: 0 auto;
	padding: 2rem 0 5px 0;

	text-align: center;
}

.options-nadpis h2{
	font-size: 36px;
	line-height: 120%;
	margin-bottom: 2rem;
}

.options-nadpis p{
	color: #575757;
	font-size: 16px;
	line-height: 120%;
}

/* .invisible-scrollbar::-webkit-scrollbar {
	display: none;
  } */


.list-x {
  position: relative;
  width: 100%;
  height: 53%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  /*transform: scale(0.98);*/
  will-change: transform;
  user-select: none;
  margin-top: 3rem;
}

.list-x.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  /*transform: scale(0.99);*/
}

.item {
  display: inline-block;
  background-color: #f7f7f7;
  height: 200px;
  width: 40%;
  margin: 5px 5px;
  border-radius: 10px;
  text-align: left;
  opacity: .8;
  transition: transform 1s;

  -webkit-box-shadow: inset 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
}

.item:hover{
	opacity: 1;
	transform: scale(1.02);
	transition: 0.3s ease-in-out;
}

.card{
	display: flex;
	height: inherit;
	align-items: center;
	border-radius: 7px;
	gap: 15px;
}

.fa-comment{
	margin-left: 15px;
}

.bubble-text h2{
	font-weight: 600;
	font-size: 27px;
	line-height: 120%;
	
}

.bubble-text h4{
	font-weight: 500;
	font-size: 21px;
	line-height: 120%;
	margin-bottom: 30px;
}

.card .bubble-text p {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	margin-bottom: 20px;
}


.list-x.active .item {
  -webkit-box-shadow: inset 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
}

.section-4{
	background-color: #f7f7f7;
	margin: 8rem 0;
}

.footer-container{
	width: 70%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.title-start{
	text-align: center;
	width: 611px;
	margin: 0 auto;
}

.title-start h2{
	font-size: 36px;
	line-height: 120%;
}

.title-start p{
	font-size: 16px;
	line-height: 120%;
	margin-top: 1.5rem;
}

.product-title{
	font-size: 36px;
	line-height: 120%;
	font-weight: 600;
	color: #2203E4;
}

.product-text p{
	font-size: 16px;
	line-height: 120%;
	color: #575757;
}

.cartBtn{
	width: 122px;
	height: 40px;
	background-color: #0062ff;
	color: #f7f7f7;
	border: 1px solid #f7f7f7;
}

.phone-start{
	width: 1000px;
	height: 322px;

	display: flex;
	justify-content: space-between;

}

.my-product{
	display: flex;
	justify-content: center;

	margin: 2rem;
}

.product-text{
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 1rem;
}

.phone-1 img{
	max-height: 300px;
	max-width: 175px;
	filter: drop-shadow(0px 0px 15px #000);
}

form{
	text-align: center;
}

.form-text{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-text #email,
.form-text button{
	margin: 0 auto;
	height: 40px;
	width: 510px;
}

.form-text #email:hover,
.form-text button:hover{
	cursor: pointer;
}

.form-text #email{
	height: 70px;
	background-color: rgba(58, 134, 255, .2);
	border-radius: 12px;
	border: none;
}

.form-text #email::placeholder{
	color: #2203E4;
	margin-left: 24px;
}

.form-text h3{
	font-size: 27px;
	line-height: 120%;
}

.form-text button{
	background-color: #0062FF;
	color: #f7f7f7;
	border: none;
}

.form-text button:hover,
.cartBtn:hover{
	background-color: #232323;
	cursor: pointer;

	transition: background-color 0.5s ease-out;
}

::-webkit-scrollbar {
	width: 4px;
	border: 1px solid #f7f7f7;
  }
  
::-webkit-scrollbar-track {
	border-radius: 0;
	background: #f7f7f7;
  }
  
::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #232323;
  }